{% include "includes/head.html" %}
        <title>{{ g.brand_name }} - Página Inicial</title>
    </head>

    <body>
{% include "includes/menu.html" %}
{% include "includes/chamada.html" %}

        <div class="jumbotron-fluid">
            <div class="container">
                <div class="card text-center">
                    <div class="card-header">
                        <h3>Ranking de Transparência de Dados Abertos</h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <div class="container">
                                    <h5>Prefeituras</h5>
                                    <h2>16</h2>
                                    <p class="lead">disponibilizam dados abertos</p>
                                    <button type="button" class="btn btn-primary" data-toggle="modal" id="modalbtnpref" data-target="#modalpref" role="button">Listar</button>
                                    <div class="modal fade" id="modalpref" aria-labelledby="modalpref" aria-hidden="true" tabindex="-1" role="dialog">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="modaltitlepref">Prefeituras</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    {% for pref in prefs %}
                                                    <p class="lead">
                                                        <a href="/dados/{{ pref.url }}/prefeitura" target="_blank">{{ pref.municipio }}</a>
                                                    </p>
                                                    {% endfor %}
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-primary" data-dismiss="modal">Fechar</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="container">
                                    <h5>Câmaras</h5>
                                    <h2>17</h2>
                                    <p class="lead">disponibilizam dados abertos</p>
                                    <button type="button" class="btn btn-primary" data-toggle="modal" id="modalbtncam" data-target="#modalcam" role="button">Listar</button>
                                    <div class="modal fade" id="modalcam" aria-labelledby="modalcam" aria-hidden="true" tabindex="-1" role="dialog">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="modaltitlepref">Câmaras</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    {% for cam in cams %}
                                                    <p class="lead">
                                                        <a href="/dados/{{ cam.url }}/camara" target="_blank">{{ cam.municipio }}</a>
                                                    </p>
                                                    {% endfor %}
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-primary" data-dismiss="modal">Fechar</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container">
                <section class="my-5">
                    <h2 class="h2-responsive text-center my-5">Selecione o Ente:</h2>
                    <form method="post" class="needs-validation" novalidate action="/consulta-basica">
                        <div class="form-row form-line">
                            <div class="col">
                                <label for="municipio">Município</label>
                                <select name="municipio" class="form-control" id="municipio" required>
                                    {% for municipio in g.municipios %}
                                    <option value="{{ municipio }}">{{ municipio }}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="col">
                                <label for="entidade">Entidade</label>
                                <select name="entidade" class="form-control" id="entidade" required>
                                    <option value="Prefeitura">Prefeitura</option>
                                    <option value="Câmara">Câmara</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-row form-line">
                            <button type="submit" class="btn btn-primary">Consultar</button>
                        </div>
                    </form>
                </section>
            </div>

            <div class="container">
                <section class="my-5">
                    <h2 class="h2-responsive text-center my-5">Consulta Avançada</h2>
                    <form method="post" action="#">
                        <fieldset disabled>
                        <div class="form-row form-line">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="radioop" id="radiolic" value="lic">
                                <label class="form-check-label" for="radiolic">Licitações</label>
                            </div>

                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="radioop" id="radiocont" value="cont">
                                <label class="form-check-label" for="radiolic">Contratos</label>
                            </div>

                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="radioop" id="radioconv" value="conv">
                                <label class="form-check-label" for="radiolic">Convênios</label>
                            </div>
                        </div>

                        <div class="form-row form-line">
                            <button type="submit" class="btn btn-primary">Buscar</button>
                        </div>
                        </fieldset>
                    </form>
                </section>
            </div>
        </div>

{% include "includes/rodape.html" %}